---
clickhouse_group:
  hosts:
    clickhouse-01:
      ansible_host: {{ clickhouse_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
vector_group:
  hosts:
    vector-01:
      ansible_host: {{ vector_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
lighthouse_group:
  hosts:
    lighthouse-01:
      ansible_host: {{ lighthouse_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
nginx_group:
  hosts:
    lighthouse-01:
      ansible_host: {{ lighthouse_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
added_hosts:
  hosts:
    clickhouse-01:
      ansible_host: {{ clickhouse_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
    vector-01:
      ansible_host: {{ vector_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
    lighthouse-01:
      ansible_host: {{ lighthouse_vm_ip }}
      ansible_user: yc-user
      ansible_ssh_common_args: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
